<p id="notice"><%= notice %></p>

<p>
  <strong>Slide:</strong>
  <%= @champion_view.slide %>
</p>

<%= link_to 'Edit', edit_champion_view_path(@champion_view) %> |
<%= link_to 'Back', champion_views_path %>
